<section id="ad">
  <h1>Do you want to go to a potluck dinner next Thursday?</h1>
  <h2>Everyone brings a dish and you enjoy a meal together.</h2>
  <h2>Scan your card below and we'll text you with some details.</h2>
  <h1>👇</h1>
  <%= render 'pages/card_number', screen_id: 'demo' %>
</section>

